<%= form_for @person do |f| %>

  <%= render partial: 'shared/base_errors', locals: { object: @person } %>

  <%= label_or_error f, :name %>
  <%= f.text_field :name, class: '', autofocus: true %>

  <%= label_or_error f, :job_title %>
  <%= f.text_field :job_title, class: '' %>

  <%= label_or_error f, :bio %>
  <%= f.text_area :bio, class: 'm-b-2', rows: '3' %>

  <div>
    <%= f.collection_check_boxes :mailing_list_ids, MailingList.sorted, :id, :name do |b|
          b.label(class: 'p-r-1') { b.check_box(class: 'zz') + " #{b.text}" }
        end %>
  </div>

  <div class="m-y-2">
    <%= f.button 'Save' %>
    <%= link_to 'Cancel', @person, class: 'btn btn-outline-success' %>
  </div>
<% end %>
